


ion-content {
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-list.new-notification-list {
    margin-bottom: 30px;
    ion-list-header {
        padding-inline-start: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        min-height: 14px;
        margin-bottom: 8px;
        color: #000;
    }
    
    ion-thumbnail {
        width: 48px;
        height: 48px;
        border-radius: 30px;
        margin-right: 10px;
        overflow: hidden;
    }
    
    ion-thumbnail img {
        display: block;
        object-fit: cover;
    }

}


@media (prefers-color-scheme: dark) { 
    ion-list-header {
        color: #fff!important;
    }

    ion-label h3 {
   color: #fff;
    }
    ion-label p {
        color: #fff !important;
    }
    ion-label h3 small {
        color: #bfbfbf;
    }
 }
