<ion-header >
  <ion-toolbar>
     <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
     <ion-title text-left>media</ion-title>
     <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
     <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
     <ion-icon class="light-mode" src="assets/images/subscribe-btn.svg" slot="end" routerLink="/tabs/rank"></ion-icon>
     <ion-icon class="dark-mode" src="assets/images/subscribe-btn-white.svg" slot="end" routerLink="/tabs/rank"></ion-icon>
     <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end" routerLink="/tabs/rank"></ion-icon>
     <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end" routerLink="/tabs/rank"></ion-icon>
     <ion-icon class="light-mode" src="assets/images/message-black.svg" slot="end" routerLink="/tabs/messagelist"></ion-icon>
     <ion-icon class="dark-mode" src="assets/images/message-white.svg" slot="end" routerLink="/tabs/messagelist"></ion-icon>
     <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end" routerLink="/tabs/profile"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
     <ion-col size="12" class="add-stories">
        <section class="c-section" routerLink="/createpost">
           <ion-text color="dark">
              <h2>Stories</h2>
           </ion-text>
           <ion-icon name="add-sharp"></ion-icon>
           <ion-text color="medium">
              add story
           </ion-text>
        </section>
        <ul class="stories-slider">
           <li>
              <span>
                 <ion-img src="assets/images/story101.png"></ion-img>
              </span>
              <ion-text color="dark">Kacie</ion-text>
           </li>
           <li>
              <span>
                 <ion-img src="assets/images/story102.png"></ion-img>
              </span>
              <ion-text color="dark">Lindsay</ion-text>
           </li>
           <li>
              <span>
                 <ion-img src="assets/images/story103.png"></ion-img>
              </span>
              <ion-text color="dark">Frankie</ion-text>
           </li>
           <li>
              <span>
                 <ion-img src="assets/images/story101.png"></ion-img>
              </span>
              <ion-text color="dark">Samantha</ion-text>
           </li>
           <li>
              <span>
                 <ion-img src="assets/images/story102.png"></ion-img>
              </span>
              <ion-text color="dark">Emma</ion-text>
           </li>
           <li>
              <span>
                 <ion-img src="assets/images/story103.png"></ion-img>
              </span>
              <ion-text color="dark">Kally</ion-text>
           </li>
        </ul>
     </ion-col>
     <ion-col size="12" class="write-something">
        <ion-button class="create-post" color="light" routerLink="/createpostnew">create post</ion-button>
        <div class="filter">
           <ion-chip  class="bg-white">
              <ion-img class="light-mode" src="assets/images/category.svg"></ion-img>
              <ion-img class="dark-mode" src="assets/images/category-dark.svg"></ion-img>
              <ion-label>
                 <ion-text color="dark">Category</ion-text>
              </ion-label>
           </ion-chip>
           <ion-chip  class="bg-white">
              <ion-img class="light-mode" src="assets/images/videos.svg"></ion-img>
              <ion-img class="dark-mode" src="assets/images/videos-dark.svg"></ion-img>
              <ion-label>
                 <ion-text color="dark">Videos</ion-text>
              </ion-label>
           </ion-chip>
           <ion-chip  class="bg-white">
              <ion-img class="light-mode" src="assets/images/filter.svg"></ion-img>
              <ion-img class="dark-mode" src="assets/images/filter-dark.svg"></ion-img>
              <ion-label>
                 <ion-text color="dark">Filter</ion-text>
              </ion-label>
           </ion-chip>
        </div>
     </ion-col>
  </ion-row>

  <div class="rueblur-post bg-white" >
     <div class="post-box">
        <div class="post-header">
           <ion-thumbnail>
              <ion-img src="assets/images/user-img.jpg"></ion-img>
           </ion-thumbnail>
           <ion-label>
              <h2>
                 <span>
                    <ion-text color="dark">john doe</ion-text>
                 </span>
              </h2>
              <ion-text color="medium">2 months ago</ion-text>
           </ion-label>
           <ion-icon class="red-trophy" slot="end" src="assets/images/trophy-red.svg"></ion-icon>
           <span>
              <ion-icon slot="end" src="assets/images/more-dots.svg"></ion-icon>
           </span>
        </div>
        <h5>
           <ion-text color="dark">Lorem ipsum</ion-text>
        </h5>
        <p>
           <ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text>
        </p>
        <ion-img src="assets/images/intro.jpg"></ion-img>
        <div class="score-bar">
           <ion-label>
              <span>
                 <ion-img src="assets/images/rate-active.svg"></ion-img>
                 <ion-text color="medium">256</ion-text>
              </span>
              <span>
                 <ion-img src="assets/images/react-active.svg"></ion-img>
                 <ion-text color="medium">62</ion-text>
              </span>
              <span>
                 <ion-img src="assets/images/comment-active.svg"></ion-img>
                 <ion-text color="medium">302</ion-text>
              </span>
           </ion-label>
           <section>
              <ion-img src="assets/images/download.svg"></ion-img>
              <ion-text color="medium">32</ion-text>
           </section>
        </div>
        <ul class="actionn-bar">
           <li>
              <ion-img src="assets/images/rate.svg"></ion-img>
              <ion-text color="medium">Rate</ion-text>
              <section class="rate" >
                 <ion-icon src="assets/images/reaction-1.svg"></ion-icon>
                 <ion-icon src="assets/images/reaction-2.svg"></ion-icon>
                 <ion-icon src="assets/images/reaction-4.svg"></ion-icon>
                 <ion-icon src="assets/images/reaction-5.svg"></ion-icon>
                 <ion-icon src="assets/images/reaction-6.svg"></ion-icon>
              </section>
           </li>
           <li>
              <ion-img src="assets/images/react.svg" ></ion-img>
              <ion-text color="medium">React</ion-text>
              <section class="rate " >
                 <ion-icon src="assets/images/likee.svg" ></ion-icon>
                 <ion-icon src="assets/images/dislike.svg" ></ion-icon>
                 <ion-icon src="assets/images/surprise.svg" ></ion-icon>
                 <ion-icon src="assets/images/lol.svg" ></ion-icon>
                 <ion-icon src="assets/images/sad.svg" ></ion-icon>
                 <ion-icon src="assets/images/engry.svg" ></ion-icon>
              </section>
           </li>
           <li >
              <ion-img src="assets/images/comment_1.svg"></ion-img>
              <ion-text color="medium">Comment</ion-text>
           </li>
           <li >
              <ion-img src="assets/images/share.svg"></ion-img>
              <ion-text color="medium">Share</ion-text>
           </li>
           <li >
              <ion-img src="assets/images/save.svg" ></ion-img>
              <ion-text color="medium">Save</ion-text>
           </li>
           <li>
              <ion-img class="light-mode" src="assets/images/down-grey.svg"></ion-img>
              <ion-img class="dark-mode" src="assets/images/down-grey.svg"></ion-img>
           </li>
        </ul>
     </div>
  </div>

  <div class="rueblur-post bg-white" >
    <div class="post-box">
       <div class="post-header">
          <ion-thumbnail>
             <ion-img src="assets/images/user-img.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label>
             <h2>
                <span>
                   <ion-text color="dark">john doe</ion-text>
                </span>
             </h2>
             <ion-text color="medium">2 months ago</ion-text>
          </ion-label>
          <ion-icon class="red-trophy" slot="end" src="assets/images/trophy-red.svg"></ion-icon>
          <span>
             <ion-icon slot="end" src="assets/images/more-dots.svg"></ion-icon>
          </span>
       </div>
       <h5>
          <ion-text color="dark">Lorem ipsum</ion-text>
       </h5>
       <p>
          <ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text>
       </p>
       <ion-img src="assets/images/intro.jpg"></ion-img>
       <div class="score-bar">
          <ion-label>
             <span>
                <ion-img src="assets/images/rate-active.svg"></ion-img>
                <ion-text color="medium">256</ion-text>
             </span>
             <span>
                <ion-img src="assets/images/react-active.svg"></ion-img>
                <ion-text color="medium">62</ion-text>
             </span>
             <span>
                <ion-img src="assets/images/comment-active.svg"></ion-img>
                <ion-text color="medium">302</ion-text>
             </span>
          </ion-label>
          <section>
             <ion-img src="assets/images/download.svg"></ion-img>
             <ion-text color="medium">32</ion-text>
          </section>
       </div>
       <ul class="actionn-bar">
          <li>
             <ion-img src="assets/images/rate.svg"></ion-img>
             <ion-text color="medium">Rate</ion-text>
             <section class="rate" >
                <ion-icon src="assets/images/reaction-1.svg"></ion-icon>
                <ion-icon src="assets/images/reaction-2.svg"></ion-icon>
                <ion-icon src="assets/images/reaction-4.svg"></ion-icon>
                <ion-icon src="assets/images/reaction-5.svg"></ion-icon>
                <ion-icon src="assets/images/reaction-6.svg"></ion-icon>
             </section>
          </li>
          <li>
             <ion-img src="assets/images/react.svg" ></ion-img>
             <ion-text color="medium">React</ion-text>
             <section class="rate " >
                <ion-icon src="assets/images/likee.svg" ></ion-icon>
                <ion-icon src="assets/images/dislike.svg" ></ion-icon>
                <ion-icon src="assets/images/surprise.svg" ></ion-icon>
                <ion-icon src="assets/images/lol.svg" ></ion-icon>
                <ion-icon src="assets/images/sad.svg" ></ion-icon>
                <ion-icon src="assets/images/engry.svg" ></ion-icon>
             </section>
          </li>
          <li >
             <ion-img src="assets/images/comment_1.svg"></ion-img>
             <ion-text color="medium">Comment</ion-text>
          </li>
          <li >
             <ion-img src="assets/images/share.svg"></ion-img>
             <ion-text color="medium">Share</ion-text>
          </li>
          <li >
             <ion-img src="assets/images/save.svg" ></ion-img>
             <ion-text color="medium">Save</ion-text>
          </li>
          <li>
             <ion-img class="light-mode" src="assets/images/down-grey.svg"></ion-img>
             <ion-img class="dark-mode" src="assets/images/down-grey.svg"></ion-img>
          </li>
       </ul>
    </div>
 </div>

 <div class="rueblur-post bg-white" >
  <div class="post-box">
     <div class="post-header">
        <ion-thumbnail>
           <ion-img src="assets/images/user-img.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
           <h2>
              <span>
                 <ion-text color="dark">john doe</ion-text>
              </span>
           </h2>
           <ion-text color="medium">2 months ago</ion-text>
        </ion-label>
        <ion-icon class="red-trophy" slot="end" src="assets/images/trophy-red.svg"></ion-icon>
        <span>
           <ion-icon slot="end" src="assets/images/more-dots.svg"></ion-icon>
        </span>
     </div>
     <h5>
        <ion-text color="dark">Lorem ipsum</ion-text>
     </h5>
     <p>
        <ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text>
     </p>
     <ion-img src="assets/images/intro.jpg"></ion-img>
     <div class="score-bar">
        <ion-label>
           <span>
              <ion-img src="assets/images/rate-active.svg"></ion-img>
              <ion-text color="medium">256</ion-text>
           </span>
           <span>
              <ion-img src="assets/images/react-active.svg"></ion-img>
              <ion-text color="medium">62</ion-text>
           </span>
           <span>
              <ion-img src="assets/images/comment-active.svg"></ion-img>
              <ion-text color="medium">302</ion-text>
           </span>
        </ion-label>
        <section>
           <ion-img src="assets/images/download.svg"></ion-img>
           <ion-text color="medium">32</ion-text>
        </section>
     </div>
     <ul class="actionn-bar">
        <li>
           <ion-img src="assets/images/rate.svg"></ion-img>
           <ion-text color="medium">Rate</ion-text>
           <section class="rate" >
              <ion-icon src="assets/images/reaction-1.svg"></ion-icon>
              <ion-icon src="assets/images/reaction-2.svg"></ion-icon>
              <ion-icon src="assets/images/reaction-4.svg"></ion-icon>
              <ion-icon src="assets/images/reaction-5.svg"></ion-icon>
              <ion-icon src="assets/images/reaction-6.svg"></ion-icon>
           </section>
        </li>
        <li>
           <ion-img src="assets/images/react.svg" ></ion-img>
           <ion-text color="medium">React</ion-text>
           <section class="rate " >
              <ion-icon src="assets/images/likee.svg" ></ion-icon>
              <ion-icon src="assets/images/dislike.svg" ></ion-icon>
              <ion-icon src="assets/images/surprise.svg" ></ion-icon>
              <ion-icon src="assets/images/lol.svg" ></ion-icon>
              <ion-icon src="assets/images/sad.svg" ></ion-icon>
              <ion-icon src="assets/images/engry.svg" ></ion-icon>
           </section>
        </li>
        <li >
           <ion-img src="assets/images/comment_1.svg"></ion-img>
           <ion-text color="medium">Comment</ion-text>
        </li>
        <li >
           <ion-img src="assets/images/share.svg"></ion-img>
           <ion-text color="medium">Share</ion-text>
        </li>
        <li >
           <ion-img src="assets/images/save.svg" ></ion-img>
           <ion-text color="medium">Save</ion-text>
        </li>
        <li>
           <ion-img class="light-mode" src="assets/images/down-grey.svg"></ion-img>
           <ion-img class="dark-mode" src="assets/images/down-grey.svg"></ion-img>
        </li>
     </ul>
  </div>
</div>
</ion-content>