


ion-col.add-stories {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
    .add-stories h2 {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        margin-bottom: 16px;
        margin-top: 0;
    }
    section.c-section {
        margin-bottom: 15px;
        width: 60px;
        float: left;
        font-size: 11px;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 7px;
        margin-right: 7px;
        font-weight: 300;
        ion-icon {
            font-size: 22px;
            color: #ffffff;
            background: #af0600;
            border-radius: 50px;
            margin-bottom: 5px;
            padding: 10px;
            margin: 4px 0;
        }     
    }
}


.add-stories h2 {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 16px;
    margin-top: 0;
}

section.c-section {
    margin-bottom: 15px;
    width: 50px;
    float: left;
    font-size: 11px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}

ul.stories-slider {
    padding: 0;
    margin: 0;
    list-style: none;
    width: calc(100% - 64px);
    float: left;
    white-space: nowrap;
    overflow: scroll;
    display: flex;
    li {
        float: left;
        margin: 0 1px;
        font-size: 11px;
        text-align: center;
        span {
            width: 80px;
            height: 115px;
            display: block;
            border-radius: 10px;
            overflow: hidden;
            padding: 0;
            border: 0;
            margin: 2px 2px 5px;
            ion-img {
                width: 100%;
                height: 115px;
                border-radius: 0;
                overflow: hidden;
                margin: 0;
                padding: 0;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}

ion-col.write-something {
    padding: 15px 10px 6px;
}



ion-button.create-post {
    margin-bottom: 5px;
    text-transform: capitalize;
    --background: #fff;
    color: #000;
}

.filter {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    ion-chip {
        height: 36px;
        border-radius: 14px;
        width: calc(33.3% - 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        text-transform: uppercase;
        ion-img {
            width: 16px;
            margin-right: 5px;
        }
        ion-label {
            text-transform: capitalize;
        }
    }
}


// rueblur post design

.rueblur-post {
    width: calc(100% - 0px);
    float: left;
    // background: #fff;
    margin-bottom: 6px;
    .post-header {
        display: flex;
        padding: 15px 4px 0 10px;
        align-items: center;
        justify-content: space-between;
        span {
            position: relative;
        }
        ion-img {
            width: 42px;
            height: 42px;
            border-radius: 30px;
            overflow: hidden;
        }
        ion-label {
            font-size: 12px;
            color: #b7b7b7;
            padding-left: 5px;
            width: calc(100% - 90px);
            h2 {
                font-size: 18px;
                font-weight: normal;
                text-transform: capitalize;
            }
        }
    }
    ion-icon.red-trophy {
        font-size: 42px;
        margin-right: 10px;
    }
}

.post-box {
    p {
        font-size: 14px;
        color: #333;
        font-weight: 300;
        line-height: 21px;
        padding: 0 10px;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    
    h5 {
        color: #000;
        padding: 0 10px;
        margin-bottom: 0px!important;
    }
}


.score-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin-left: 15px;
    padding: 15px 0;
    ion-label {
        display: flex;
        span {
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            color: #cbcbcb;
            ion-img {
                width: 20px;
                margin-right: 5px;
            }
        }
    }

    section {
        display: flex;
        width: auto;
        flex-direction: row;
        color: #cbcbcb;
        ion-img {
            width: 20px;
            margin-right: 5px;
        }
    }
}

ul.actionn-bar {
    width: calc(100% - 30px);
    float: left;
    margin: 0 0 0 15px;
    padding: 10px 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    border-top: 1px solid #f1f1f1;
    li {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        color: #cbcbcb;
        float: left;
        margin: 0 1px;
        font-size: 11px;
        text-align: center;
        ion-img {
            width: 20px;
            margin-bottom: 5px;
        }

        section.rate {
            width: auto;
            position: absolute;
            left: -30px;
            bottom: -61px;
            z-index: 20;
            background: #fff;
            padding: 10px;
            flex-direction: row;
            border-radius: 8px;
            display: none;
            justify-content: space-between;
            box-shadow: 0px 0px 20px rgba(86, 86, 86, 0.2);
            ion-icon {
                font-size: 28px;
                padding: 0px;
                margin-right: 6px;
                margin-bottom: 0;
                color: #ffffff;
                background: #af0600;
                border-radius: 50px;
                margin: 4px 0;
            }
        }
    }

}



