<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>explore</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ul class="explore-slide">
    <li><span><ion-img src="assets/images/story101.png"></ion-img></span>Kacie</li>
    <li><span><ion-img src="assets/images/story102.png"></ion-img></span>Lindsay</li>
    <li><span><ion-img src="assets/images/story103.png"></ion-img></span>Frankie</li>
    <li><span><ion-img src="assets/images/story101.png"></ion-img></span>Samantha</li>
    <li><span><ion-img src="assets/images/story102.png"></ion-img></span>Emma</li>
    <li><span><ion-img src="assets/images/story103.png"></ion-img></span>Kally</li>
  </ul>

  <ul class="segment"> 
    <li class="active"><span>Food</span></li>
    <li><span>Music</span></li>
    <li><span>Media</span></li>
    <li><span>Home</span></li>
    <li><span>Random</span></li>
  </ul>

  <ion-grid class="explore-row">
    <ion-row class="explor-img">
      <ion-col size="4">
        <ion-img src="assets/images/explore-1.jpg"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-img src="assets/images/explore-2.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-img src="assets/images/explore-3.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/explore-4.jpg"></ion-img>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size="4">
        <ion-img src="assets/images/explore-5.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/explore-6.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/explore-7.jpg"></ion-img>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size="8">
        <ion-img src="assets/images/explore-8.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/explore-4.jpg" ></ion-img>
      </ion-col>
    </ion-row>  
    <ion-label>
      <ion-text color="dark">
        <h5>H5: The quick brown fox jumps over the lazy dog</h5>
      </ion-text>
      <ion-text color="danger">
        <p>H5: The quick brown fox jumps over the lazy dog</p>
      </ion-text>
    </ion-label>
  </ion-grid>
</ion-content>
