


ul.explore-slide {
    margin: 15px 0px 8px 15px;
    list-style: none;
    width: calc(100% - 15px);
    float: left;
    white-space: nowrap;
    overflow: scroll;
    display: flex;
    padding: 0;
    li {
        float: left;
        margin: 0 0px;
        font-size: 11px;
        text-align: center;
        color: var(--ion-color-dark);
        span {
            width: 80px;
            height: 115px;
            display: block;
            border-radius: 10px;
            overflow: hidden;
            padding: 0;
            border: 0;
            margin: 2px 2px 5px;
        }
        ion-img {
            width: 80px;
            height: 115px;
            border-radius: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}


ul.segment {
    width: 100%;
    float: left;
    list-style: none;
    padding: 8px 0 0px 15px;
    margin: 0;
    white-space: nowrap;
    overflow: scroll;
    display: flex;
    li {
        float: left;
        margin-right: 10px;
        display: block;
        span {
            background: var(--ion-color-light);
            padding: 10px 24px;
            border-radius: 26px;
            color: var(--ion-color-dark);
            font-size: 12px;
            display: block;
        }
    }
}

ul.segment li.active span {
    background: #af0600!important;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(175, 6, 0, 0.1);
}

ion-grid.explore-row {
    float: left;
    width: 100%;
    padding: 10px;
    ion-col {
        padding: 2px;
        ion-img {
            border-radius: 10px;
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}


// @media (prefers-color-scheme: dark) { 
//     ul.explore-slide li {
//         color: #ffffff;
//     }
//     ul.segment li span {
//         background: #000000;
//         color: #ffffff;
//     }
//  }


