ion-header ion-toolbar ion-icon {
	margin-left: 0px;
}

ion-title {
	padding-inline-start: 0px;
	padding-inline: 0px;
}

ion-col.add-status {
	display: flex;
	align-items: center;
	padding: 15px 15px 5px;
	section {
		width: calc(100% - 60px);
		margin-left: 10px;
	}
	ion-list {
		display: inline-block;
		padding-top: 0px;
		padding-bottom: 0px;
		ion-item {
			border: 1px solid #000;
			border-radius: 30px;
			--min-height: 30px;
			width: auto;
			display: flex;
			padding: 0 6px;
			height: 32px;
			align-items: center;
			font-size: 12px;
			ion-icon {
				font-size: 16px;
				margin-right: 5px;
			}
			ion-select {
				--padding-top: 0px;
				--padding-end: 5px;
				--padding-bottom: 0px;
			}
		}
	}
}

h2 {
	font-size: 16px;
	margin: 0 0 5px 0;
	text-transform: capitalize;
}

ion-thumbnail {
	width: 60px;
	height: 60px;
	border-radius: 40px;
	overflow: hidden;
}

ion-bottom-drawer {
    padding: 30px 15px 15px;
    position: relative;
    span {
        width: 30px;
        height: 4px;
        background: #9c9c9c;
        border-radius: 14px;
        display: block;
        position: absolute;
        left: 50%;
        top: 8px;
        transform: translateX(-50%);
    }
}

ion-list.toggle-list {
    padding-top: 0px;
    padding-bottom: 0px;
	ion-item {
		--min-height: 26px;
	}
	ion-toggle {
		padding: 5px;
	}
	ion-label {
		margin: 0;
        text-transform: capitalize;
        font-weight: 300;
	}
}

.action ion-label {
    display: block;
    text-transform: capitalize;
    line-height: 36px;
    font-weight: 300;
}

ion-col.tell-somthing {
    padding: 0 15px;
    h3 {
        margin: 0;
    }
}

ion-textarea {
    --color: #000;
    --placeholder-color: #000;
    --placeholder-opacity: .8;
}

ion-select {
	background: #0000 !important;
	color: var(--ion-color-dark);
}



    // @media (prefers-color-scheme: dark) {
ion-col.add-status ion-list ion-item {
    border: 1px solid var(--ion-color-dark);
}
ion-col.add-status ion-list ion-item ion-icon {
	color: var(--ion-color-dark);
}

ion-select {
	background: #fff0 !important;
	color: var(--ion-color-dark);
}

ion-textarea {
    --color: var(--ion-color-dark);
    --placeholder-color: var(--ion-color-dark);
    --placeholder-opacity: .8;
}

    // }