<ion-header >
  <ion-toolbar>
    <ion-icon name="close-outline" slot="start" (click)="back()" class="h-text"></ion-icon>    
    <ion-title text-left style="text-align: center;">create post</ion-title>
   <span slot="end"><ion-text color="dark">Post</ion-text></span>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
<ion-row>
  <ion-col size="12" class="add-status">
    <ion-thumbnail>
      <img src="assets/images/user-img.jpg">
    </ion-thumbnail>
    <section>
      <h2><ion-text color="dark">john doe</ion-text></h2>
      <ion-list>
        <ion-item>
          <ion-icon name="globe-outline"></ion-icon>
          <ion-select value="03">
            <ion-select-option value="01">Alice in Chains</ion-select-option>
            <ion-select-option value="02">Green Day</ion-select-option>
            <ion-select-option value="03">Nirvana</ion-select-option>
            <ion-select-option value="04">Pearl Jam</ion-select-option>
            <ion-select-option value="05">Smashing Pumpkins</ion-select-option>
            <ion-select-option value="06">Soundgarden</ion-select-option>
            <ion-select-option value="07">Stone Temple Pilots</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </section>
  </ion-col>
  <ion-col class="tell-somthing">
    <!-- <h3 class="h-text">Tell us something?</h3> -->
    <ion-textarea placeholder="Tell us something?" auto-grow="true"></ion-textarea>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>


<ion-bottom-drawer>
  <span></span>
  <div class="action">
    <ion-label><ion-text color="dark">add a photo</ion-text></ion-label>
    <ion-label><ion-text color="dark">take a video</ion-text></ion-label>
    <ion-label><ion-text color="dark">add story</ion-text></ion-label>
    <ion-label><ion-text color="dark">go live</ion-text></ion-label>
    <ion-label><ion-text color="dark">tag location</ion-text></ion-label>
    <ion-label><ion-text color="dark">tag followers</ion-text></ion-label>
    <ion-label><ion-text color="dark">category</ion-text></ion-label>
  </div>
 
  <ion-list class="toggle-list">
    <ion-item>
      <ion-label><ion-text color="dark">Allow comment</ion-text></ion-label>
      <ion-toggle slot="end" name="blueberry" color="success" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><ion-text color="dark">Allow rating</ion-text></ion-label>
      <ion-toggle slot="end" name="blueberry" color="success" checked></ion-toggle> 
    </ion-item>
    <ion-item>
      <ion-label><ion-text color="dark">show dislikes</ion-text></ion-label>
      <ion-toggle slot="end" name="blueberry" color="success" checked></ion-toggle>
    </ion-item>
    </ion-list>

</ion-bottom-drawer>