<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="login-area">
          <ion-img src="assets/images/app-logo.svg"></ion-img>
        </div>
        <b class="title">sign up as</b>

        <!-- <ion-radio-group>

          <ion-item (click)="signUpAs('Account Purpose')">
            <ion-label>Account Purpose</ion-label>
            <ion-radio value="Account Purpose"></ion-radio>
          </ion-item>

          <ion-item (click)="signUpAs('Personal')">
            <ion-label>Personal</ion-label>
            <ion-radio value="Personal"></ion-radio>
          </ion-item>

          <ion-item (click)="signUpAs('Business')">
            <ion-label>Business</ion-label>
            <ion-radio  value="Business" ></ion-radio>
          </ion-item>

        </ion-radio-group>   -->
<div class="act">
  <ion-button color="light" (click)="signUpAs('Account Purpose')">Account Purpose</ion-button>
        <ion-button color="light" (click)="signUpAs('Personal')">Personal</ion-button>
        <ion-button color="light" (click)="signUpAs('Business')">Business</ion-button>

</div>
      
     
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  