
.login-area {
    background: #af0600;
    padding: 60px;
    border-radius: 0px 0px 40px 40px;
}

.login-area ion-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 180px;
}


b.title {
    display: block;
    text-align: center;
    padding: 20px 15px 10px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    color: #af0600;
    margin-bottom: 5px;
}

b.title:after {
content: '';
width: 30px;
height: 3px;
background: #af0600;
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-border-width: 0;
    --min-height: 55px;
    margin-bottom: 15px;
    --background: #fff;
    border-radius: 16px;
    text-align: center;
    --background-activated: #af0600;
    --background-focused: #af0600;
    --background-hover: currentColor;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --color-activated: #fff;
    --color-focused: #fff;
    --color-hover: #fff;
}

ion-radio {
    position: absolute;
    opacity: 0;
}

ion-radio-group {
    padding: 30px 15px 15px;
    display: block;
}

.act {
    padding: 15px;
}


@media only screen and (max-width: 380px) {
    .login-area {
        padding: 50px;
    }
    .login-area ion-img {
        max-width: 170px;
    }
}

@media only screen and (max-width: 340px) {
    .login-area {
        padding: 30px;
    }
    .login-area ion-img {
        max-width: 140px;
    }
  }