<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>saved post</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding" >
    <ion-row class="post-list"> 
      <ion-col size="12" class="ion-no-padding">
        <ion-list>
          <ion-item class="bg-white">
            <ion-thumbnail slot="start" >
              <img  src="assets/images/jimmy.jpg">  
            </ion-thumbnail>
            <ion-label>
              <h3><ion-text color="dark">test here</ion-text></h3>
              <p><ion-text color="medium">Lorem ipsum testing</ion-text></p>
            </ion-label>
          </ion-item>

          <ion-item class="bg-white">
            <ion-thumbnail slot="start" >
              <img  src="assets/images/jimmy.jpg">  
            </ion-thumbnail>
            <ion-label>
              <h3><ion-text color="dark">test here</ion-text></h3>
              <p><ion-text color="medium">Lorem ipsum testing</ion-text></p>
            </ion-label>
          </ion-item>

          <ion-item class="bg-white">
            <ion-thumbnail slot="start" >
              <img  src="assets/images/jimmy.jpg">  
            </ion-thumbnail>
            <ion-label>
              <h3><ion-text color="dark">test here</ion-text></h3>
              <p><ion-text color="medium">Lorem ipsum testing</ion-text></p>
            </ion-label>
          </ion-item>

          <ion-item class="bg-white">
            <ion-thumbnail slot="start" >
              <img  src="assets/images/jimmy.jpg">  
            </ion-thumbnail>
            <ion-label>
              <h3><ion-text color="dark">test here</ion-text></h3>
              <p><ion-text color="medium">Lorem ipsum testing</ion-text></p>
            </ion-label>
          </ion-item>

          <ion-item class="bg-white">
            <ion-thumbnail slot="start" >
              <img  src="assets/images/jimmy.jpg">  
            </ion-thumbnail>
            <ion-label>
              <h3><ion-text color="dark">test here</ion-text></h3>
              <p><ion-text color="medium">Lorem ipsum testing</ion-text></p>
            </ion-label>
          </ion-item>
        </ion-list>     
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
 
