<ion-header>
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="categoryForm" (ngSubmit)="categorySubmit()">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="category-page">
        <div class="category-list">
          <ion-list-header>What would you like to see most in your feed?</ion-list-header>
            <ion-list >         
              <ion-item *ngFor="let category of categories">
                <ion-label>{{category}}</ion-label>
                <ion-checkbox formControlName="favCategory" value="{{category}}"></ion-checkbox>
              </ion-item>
              </ion-list>
        </div>
        <div class="action-btn">
          <ion-button class="signin" [disabled]="!categoryForm.valid" type="submit">Continue</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
