


ion-col.channel-parameter {
    padding: 15px 15px 15px;
    ion-label {
        font-size: 14px;
        color: #282828;
        margin-bottom: 10px;
        display: block;
        max-width: 205px;
    }
    ion-input {
        background: #fff !important;
        height: 50px;
        border-radius: 16px;
        --padding-start: 16px!important;
        margin-bottom: 25px;
        --padding-top: 15px;
        --padding-end: 15px!important;
        --padding-bottom: 15px;
        --placeholder-color: #787878;
        --placeholder-opacity: 1;
        font-size: 14px;
        font-weight: 300;
        font-family: 'SF UI Display';
    }
    ion-textarea {
        background: #fff !important;
        border-radius: 16px;
        min-height: 200px;
        margin-bottom: 25px;
        --padding-top: 15px;
        --padding-end: 15px;
        --padding-bottom: 15px;
        --padding-start: 15px;
        --placeholder-color: #787887;
        --placeholder-opacity: 1;
        font-size: 14px;
    font-weight: 300;
    }

    ion-radio-group {
        display: flex;
        margin-bottom: 25px;
        ion-item {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --inner-border-width: 0;
            --background: transparent;
            margin-right: 30px;
            --background-activated: transparent;
            --background-focused: transparent;
            --min-height: 22px;
            ion-label {
                margin: 0;
                font-size: 14px !important;
                color: #787878;
            }
        }
    }
}


ion-radio.radio-checked {
    position: relative;
}
ion-radio {
    width: 18px;
    height: 18px;
    border: 1px solid #af0600;
    border-radius: 20px;
    margin-right: 10px;
}

ion-radio.radio-checked:before {
    width: 12px;
    height: 12px;
    border-radius: 16px;
    background: #af0600;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}

ion-select {
    background: #fff;
    height: 50px;
    border-radius: 16px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    margin-bottom: 25px;
    --placeholder-opacity: 1;
    color: #787878;
    font-size: 14px;
    font-weight: 300;
}

ion-button {
    height: 50px;
    margin-top: 20px;
    --border-radius: 16px;
    float: left;
    width: 100%;
}




.action-btn {
    display: flex;
    width: 100%;
    ion-button {
        width: 100%;
        height: 54px;
        border-radius: 20px;
        --border-radius: 20px;
        --box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
ion-button.signin {
    --background: #AF0600;
}



.epload-area span {
    width: 100%;
    float: left;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    height: 160px;
    text-align: center;
    margin-bottom: 30px;
    ion-input {
        height: 100%;
        opacity: 0;
    }
    ion-img {
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.epload-area span:after {content: '';width: calc(100% - 20px);height: calc(100% - 20px);border: 1px dashed #af0600;position: absolute;left: 10px;top: 10px;border-radius: 20px;}





ion-col.upload-photo {
    padding: 20px 15px;
    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.epload-area ion-label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}



// =================  Step 3  ====================


ion-col.add-description {
    padding: 20px 15px 15px;
}

ion-list {
    background: transparent!Important;
    ion-item {
        margin-bottom: 16px;
        --min-height: 44px;
        border-radius: 16px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --inner-border-width: 0;
        text-align: center;
        ion-checkbox {
            position: absolute;
            opacity: 0;
            width: 100%;
            margin-right: 0;
            height: 100%;
            margin: 0;
        }
        ion-label {
            font-size: 14px !important;
            text-transform: uppercase;
            max-width: 100%;
        }
    }
}

ion-item.item-checkbox-checked {
    --background: #af0600!important;
    color: #fff;
}

ion-label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
    line-height: 1.5;
}


ion-textarea {
    border-radius: 16px;
    min-height: 200px;
    margin-bottom: 25px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --placeholder-color: var(--ion-color-dark);
    --placeholder-opacity: 0.6;
}
ion-icon.dark-mode {
    display: none;
}

ion-icon.light-mode {
    display: block;
}