<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>create channel</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-grid class="ion-no-padding" style="display: none;">
    <ion-row >
      
      <ion-col size="12" class="channel-parameter">
        <ion-label><ion-text color="dark">What is the name of this Channel?</ion-text></ion-label>
        <ion-input type="text" placeholder="Channel Name"></ion-input>
        <ion-label><ion-text color="dark">Summarize this page</ion-text></ion-label>
        <ion-textarea placeholder="Type...."></ion-textarea>
        <ion-label><ion-text color="dark">Set the page privacy</ion-text></ion-label>
        <ion-radio-group >      
          <ion-item>
            <ion-label><ion-text color="dark">Public</ion-text></ion-label>
            <ion-radio slot="start" color="primary" value="public"  ></ion-radio> 
          </ion-item>
          <ion-item>
            <ion-label><ion-text color="dark">Private</ion-text></ion-label>
            <ion-radio slot="start" color="secondary" value="private" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label><ion-text color="dark">Secret</ion-text></ion-label>
            <ion-radio slot="start" color="tertiary" value="secret" ></ion-radio>
          </ion-item>     
        </ion-radio-group>
  
        <ion-label><ion-text color="dark">Set channel category</ion-text></ion-label>
        <ion-select placeholder="Category Name">
          <ion-select-option value="nes">NES</ion-select-option>
          <ion-select-option value="n64">Nintendo64</ion-select-option>
          <ion-select-option value="ps">PlayStation</ion-select-option>
          <ion-select-option value="genesis">Sega Genesis</ion-select-option>
          <ion-select-option value="saturn">Sega Saturn</ion-select-option>
          <ion-select-option value="snes">SNES</ion-select-option>
        </ion-select>
        <ion-label><ion-text color="dark">Set channel type</ion-text></ion-label>
        <ion-select placeholder="Channel type">
          <ion-select-option value="nes">NES</ion-select-option>
          <ion-select-option value="n64">Nintendo64</ion-select-option>
          <ion-select-option value="ps">PlayStation</ion-select-option>
          <ion-select-option value="genesis">Sega Genesis</ion-select-option>
          <ion-select-option value="saturn">Sega Saturn</ion-select-option>
          <ion-select-option value="snes">SNES</ion-select-option>
        </ion-select>      
  
        <ion-button expand="block">Continue</ion-button>
      </ion-col>
    </ion-row>  
  </ion-grid>

  <!-- ===============  Step 2  ================ -->

  <ion-grid class="ion-no-padding" style="display: none;">
    <ion-row>
      <ion-col size="12" class="upload-photo">
        <section>
        <div class="epload-area">
          <ion-label><ion-text color="dark">Upload the logo for this channel</ion-text></ion-label>
          <span class="bg-white">
            <ion-input type="file"></ion-input>
            <ion-img src="assets/images/upload.svg"></ion-img>
          </span>             
        </div>
        <div class="epload-area">
          <ion-label><ion-text color="dark">Upload the logo for this channel</ion-text></ion-label>
          <span class="bg-white">
            <ion-input type="file"></ion-input>
            <ion-img src="assets/images/upload.svg"></ion-img>
          </span>             
        </div>
      </section>
        <div class="action-btn">
          <ion-button  type="submit" class="signin bg-white h-text" >Continue</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ============  Step 3  ============== -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="add-description">
        <ion-label><ion-text color="dark">What special instructions should user of this channel know?</ion-text></ion-label>
        <ion-textarea class="bg-white" placeholder="Type...."></ion-textarea>
        <ion-list>      
            <ion-item class="bg-white">          
              <ion-checkbox></ion-checkbox>
              <ion-label><ion-text color="dark">Add Map</ion-text></ion-label>
            </ion-item>
            <ion-item class="bg-white">
              <ion-checkbox ></ion-checkbox>
              <ion-label><ion-text color="dark">Add Photo</ion-text></ion-label>
            </ion-item>
            <ion-item class="bg-white">
              <ion-checkbox ></ion-checkbox>
              <ion-label><ion-text color="dark">Add Video</ion-text></ion-label>
            </ion-item>
            <ion-item class="bg-white">
              <ion-checkbox ></ion-checkbox>
              <ion-label><ion-text color="dark">Add Website/url</ion-text></ion-label>
            </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
