<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <div class="login-area">
        <ion-img src="assets/images/app-logo.svg"></ion-img>
      </div>
      <b class="title">login</b>
      <div class="parameter">

        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="parameter-field bg-white">
          <span>
            <ion-icon class="light-mode" src="assets/images/user.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/user_white.svg"></ion-icon>
          </span>
          <ion-input type="email" placeholder="Email" formControlName="email" class="bg-white"></ion-input>
        </div>
        <ng-container *ngFor="let validation of validation_messages.email">
          <p class="errp" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              <ion-icon class="erricon" name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
          </p>
      </ng-container>
        <div class="parameter-field bg-white">
          <span>
            <ion-icon class="light-mode" src="assets/images/password.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/password_white.svg"></ion-icon>
          </span>         
          <ion-input [type]="passwordType" formControlName="password" placeholder="Password" class="bg-white"></ion-input>
          <span class="hide-password" *ngIf="passwordVisible" (click)="showPassword('hide')">
            <ion-icon src="assets/images/hidepassword-white.svg" ></ion-icon>
          </span>
          <span class="hide-password" *ngIf="!passwordVisible" (click)="showPassword('show')">
            <ion-icon src="assets/images/hidepassword.svg"></ion-icon>
          </span> 
        </div>
        <ng-container *ngFor="let validation of validation_messages.password">
          <p class="errp" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-text color="dark"><ion-icon class="erricon" name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span></ion-text>
          </p>
      </ng-container>
        <a routerLink="/forgotpassword">Forgot Password</a>
        <div class="take-action">
          <ion-button type="submit" [disabled]="!loginForm.valid" class="active">sign in</ion-button>
          <ion-button routerLink="/signupas" class="bg-white">sign up</ion-button>
        </div>
      </form>

        <ion-list>
            <ion-item>
              <ion-label><ion-text color="dark">remember me</ion-text></ion-label>
              <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
            </ion-item>
            </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
