
ion-col.create-account-parameter {
    padding: 15px;
}

ion-col.create-account-parameter ion-input {
    background: #fff;
    --padding-top: 16px;
    --padding-end: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    // box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
}

ion-label {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    display: block;
    margin-top: 6px;
    width: 100%;
    color: #282828;

    float: left;
}

ion-textarea {
    padding: 8px!important;
    border-radius: 16px;
    float: left;
    min-height: 120px;
    font-weight: 300;
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
    margin-top: 0;
    // box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
}

ion-select {
    background: #fff;
    margin-bottom: 16px;
    --padding-top: 15px;
    --padding-end: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    border-radius: 16px;
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
    // box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
}
ion-item{
    --padding-start:12px;
    --padding-end:12px;
}


.input-division {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-division span {
    width: calc(50% - 8px);
}




ion-button {
    width: 100%;
    height: 50px;
    border-radius: 16px;
    --border-radius: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    // --box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
    text-transform: uppercase;
    letter-spacing: 1px;
}

ion-button.signin {
    --background: #AF0600;
}

ion-button.signup {
    --background: #fff;
    color: #282828;
}


.action-btn {
    display: flex;
    justify-content: space-between;
}
