<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>create account</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <form [formGroup]="registerForm" (ngSubmit)="registerAccount()">
    <ion-row>
      <ion-col size="12" class="create-account-parameter">
        <ion-label class="h-text">Full Name</ion-label>
        <ion-input class="bg-white" type="text" placeholder="First Name" formControlName="first_name"></ion-input>
        <ion-input class="bg-white" type="text" placeholder="Last Name" formControlName="last_name"></ion-input>
        <ion-label class="h-text">Please Pick a Unique Username. This cannot ever be changed in the future</ion-label>
        <ion-input class="bg-white" type="email" placeholder="Email" formControlName="username"></ion-input>
        <ion-label class="h-text">About Me</ion-label>
        <ion-textarea class="bg-white" placeholder="Type..." formControlName="about"></ion-textarea>


        <ion-label class="h-text">Address</ion-label>
        <ion-select interface="popover" class="bg-white" formControlName="country">
          <ion-select-option *ngFor="let data of countryNameList">{{data.name}}</ion-select-option>     
        </ion-select>

        <div class="input-division">

          <span>
            <ion-select interface="popover" formControlName="state">
              <ion-select-option value="Alabama">Alabama</ion-select-option>
                          <ion-select-option value="Alaska">Alaska</ion-select-option>
                          <ion-select-option value="Arizona">Arizona</ion-select-option>
                          <ion-select-option value="Arkansas">Arkansas</ion-select-option>
                          <ion-select-option value="California">California</ion-select-option>
                          <ion-select-option value="Colorado">Colorado</ion-select-option>
                          <ion-select-option value="Connecticut">Connecticut</ion-select-option>
                          <ion-select-option value="Delaware">Delaware</ion-select-option>
                          <ion-select-option value="Florida">Florida</ion-select-option>
                          <ion-select-option value="Georgia">Georgia</ion-select-option>
                          <ion-select-option value="Hawaii">Hawaii</ion-select-option>
                          <ion-select-option value="Idaho">Idaho</ion-select-option>
                          <ion-select-option value="Illinois">Illinois</ion-select-option>
                          <ion-select-option value="Indiana">Indiana</ion-select-option>
                          <ion-select-option value="Iowa">Iowa</ion-select-option>
                          <ion-select-option value="Kansas">Kansas</ion-select-option>
                          <ion-select-option value="Kentucky">Kentucky</ion-select-option>
                          <ion-select-option value="Louisiana">Louisiana</ion-select-option>
                          <ion-select-option value="Maine">Maine</ion-select-option>
                          <ion-select-option value="Maryland">Maryland</ion-select-option>
                          <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
                          <ion-select-option value="Michigan">Michigan</ion-select-option>
                          <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                          <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                          <ion-select-option value="Missouri">Missouri</ion-select-option>
                          <ion-select-option value="Montana">Montana</ion-select-option>
                          <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                          <ion-select-option value="Nevada">Nevada</ion-select-option>
                          <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                          <ion-select-option value="New Jersey">New Jersey</ion-select-option>
                          <ion-select-option value="New Mexico">New Mexico</ion-select-option>
                          <ion-select-option value="New York">New York</ion-select-option>
                          <ion-select-option value="North Carolina">North Carolina</ion-select-option>
                          <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                          <ion-select-option value="Ohio">Ohio</ion-select-option>
                          <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                          <ion-select-option value="Oregon">Oregon</ion-select-option>
                          <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                          <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                          <ion-select-option value="South Carolina">South Carolina</ion-select-option>
                          <ion-select-option value="South Dakota">South Dakota</ion-select-option>
                          <ion-select-option value="Tennessee">Tennessee</ion-select-option>
                          <ion-select-option value="Texas">Texas</ion-select-option>
                          <ion-select-option value="Utah">Utah</ion-select-option>
                          <ion-select-option value="Vermont">Vermont</ion-select-option>
                          <ion-select-option value="Virginia">Virginia</ion-select-option>
                          <ion-select-option value="Washington">Washington</ion-select-option>
                          <ion-select-option value="West Virginia">West Virginia</ion-select-option>
                          <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
                          <ion-select-option value="Wyoming">Wyoming</ion-select-option>      
            </ion-select>
          </span>

          <span>  
            <ion-input class="bg-white" type="text" placeholder="City" formControlName="city"></ion-input>
          </span>    
        </div>
  
        <ion-label class="h-text">School/College</ion-label>
        <ion-select interface="popover" formControlName="school">
          <ion-select-option value="School">School</ion-select-option>
          <ion-select-option value="College">College</ion-select-option>       
        </ion-select>
  
        <ion-label class="h-text">Relationship Status</ion-label>
        <ion-select interface="popover" formControlName="relationship">
          <ion-select-option value="Single">Single</ion-select-option>
          <ion-select-option value="Married">Married</ion-select-option>       
        </ion-select>
  
        <ion-label class="h-text">What is your Occupation</ion-label>
        <ion-input class="bg-white" type="text" placeholder="Occupation" formControlName="occupation"></ion-input>
  
        <div class="action-btn">
          <ion-button class="signin bg-white" type="submit" [disabled]="!registerForm.valid">Continue</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>
