
.menu_open .button-native{
    color:#000 !important;
}
ion-tab-bar { 
    min-height: 69px;
    --border: transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.17);
    background-color: var(--ion-color-light);
    border-radius: 25px 25px 0px 0px;
    --border-radius: 25px 25px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    ion-tab-button{
        padding-top: 4px;
        background-color: var(--ion-color-light);
        font-size: 10px;
        --padding-end: 6px;
        --padding-start: 6px;
    }

    ion-label {
        color: #000;
        font-size: 12px;
        font-weight: 600;
        position: relative;
        bottom: 11px;
        left: 8px;
    }
    ion-tab-button[aria-selected="true"]{
        color: #cdcdcd;

        ion-label {
            color: #fff;
            font-size: 12px;
            bottom: 7px;
        }
        span {
            display: inline-block;
            background-color: #9cfb37;
            min-width: 100px;
            border-radius: 100px;
            min-height: 38px;
            position: relative;
            bottom: 3px;
        }
    }
    img {
        max-width: 25px;
        max-height: 25px;
        min-height: 25px;
        object-fit: contain;
        margin-bottom: 5px;
    }
}
ion-tab-button{
    img{
        width: 20px;
        height: 20px;
        object-fit: contain;
        object-position: center;
    }
}
ion-tab-button.tab-selected{
    // .desktop{
    //     display: none;
    // }
    .mobile{
        display: inline-block;
        position: relative;
    }
}
.mobile{
    display: none;
}
ion-tab-button[aria-selected="true"] {
    .desktop {
        display: none;
    }
}



ion-tab-button.first-btn {
    border-radius: 25px 0 0 0;
}

ion-tab-button.last-btn {
    border-radius: 0 25px 0 0px;
}

@media only screen and (max-width: 360px) {
    ion-tab-bar ion-tab-button {
        font-size: 8px;
    }
    ion-tab-button img {
        width: 20px;
        height: 20px;
    }
  }


  @media (prefers-color-scheme: dark) {
    ion-tab-bar ion-tab-button {
        background-color: #000;
    }
    ion-tab-bar {
        background-color: #000;   
    }
  }



