<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="first-btn">
        <img src="assets/images/home.svg" class="desktop"/>
        <img src="assets/images/home-active.svg" class="mobile"/>
        Home
    </ion-tab-button>
    <ion-tab-button tab="media">
        <img src="assets/images/media.svg" class="desktop"/>
        <img src="assets/images/media-active.svg" class="mobile"/>
        Media
    </ion-tab-button>
    <ion-tab-button tab="explore">
        <img src="assets/images/explore.svg" class="desktop"/>
        <img src="assets/images/explore-active.svg" class="mobile"/>
        Explore
    </ion-tab-button>
    <ion-tab-button tab="notification">
        <img src="/assets/images/notification.svg" class="desktop"/>
        <img src="/assets/images/notification-active.svg" class="mobile"/>
        Notifications
    </ion-tab-button>
    <ion-tab-button (click)="toggleMenu()" class="last-btn" >
        <img src="assets/images/more.svg" class="desktop" />
        <img src="assets/images/more-active.svg" class="mobile"/>
        More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
