
.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
}
.header-md::after {
    background-image: none;
}

ion-header {
    --background: #F4F4F4;
    background: #F4F4F4;
    border-radius: 10px;
    overflow: hidden;
   position: absolute;
   border-radius: 0px 0px 25px 25px;
}
.headeraddclass{
    background: transparent !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    widows: 100% !important;

}
ion-header + ion-content {
    --padding-top: 100px;
}

ion-toolbar {
    --background: #fff;
    color: #fff;
    padding: 0px 10px;
    border-radius: 0px 0px 30px 30px;
    --min-height: 50px;
    ion-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        padding-left: 40px;
        color: #f9d300;
    }
    ion-icon {
        font-size: 24px;
        margin-left: 0px;
        color: #f9d300;
    }
    ion-img {
        width: 36px;
        height: 36px;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid #fff;
        margin-left: 10px;
    }
}


ion-content {
    --background: #F4F4F4;
}



ion-col.channel-parameter {
    padding: 20px 15px 15px;
}

ion-label {
    font-size: 14px;
    color: #282828;
    margin-bottom: 10px;
    display: block;
}

ion-input, ion-select {
    background: #fff !important;
    height: 50px;
    border-radius: 16px;
    --padding-start: 16px;
    margin-bottom: 25px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --placeholder-color: #787878;
    --placeholder-opacity: 1;
}

ion-textarea {
    background: #fff !important;
    border-radius: 16px;
    min-height: 120px;
    margin-bottom: 5px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --placeholder-color: #787887;
    --placeholder-opacity: 1;
    clear: both;
}

ion-select {
    background: #fff;
    height: 50px;
    border-radius: 16px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    margin-bottom: 25px;
    --placeholder-opacity: 1;
    color: #787878;
}

ion-button {
    --background: #af0600;
    height: 50px;
    margin-top: 20px;
    --border-radius: 16px;
    float: left;
    width: 100%;
}


ion-radio-group {
    display: flex;
    margin-bottom: 25px;
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-border-width: 0;
    --background: transparent;
    margin-right: 30px;
    --background-activated: transparent;
    --background-focused: transparent;
    --min-height: 22px;
    ion-label {
        margin: 0;
        font-size: 14px!important;
        color: #787878;
    }
}
ion-radio {
    width: 18px;
    height: 18px;
    border: 1px solid #af0600;
    border-radius: 20px;
    margin-right: 10px;
}

ion-radio.radio-checked {
    position: relative;
}



ion-radio.radio-checked:before {
    width: 12px;
    height: 12px;
    border-radius: 16px;
    background: #af0600;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}


ul.media {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    list-style: none;
    white-space: nowrap;
    overflow: scroll;
    display: flex;
    li {
        float: left;
        margin-right: 15px;
        ion-img {
            width: 50px;
            height: 50px;
            border-radius: 15px;
            overflow: hidden;        
        }
    }
}

ion-list.list_toggle {
    width: 100%;
    background: transparent;
    float: left;
    margin-bottom: 25px;
    ion-item {
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        ion-label {
            color: #282828!important;
        }    
    }
}


ion-toggle {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

span.act-btn {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    ion-button {
        width: calc(50% - 10px);
        --background: #ffffff;
        height: 50px;
        margin-top: 0;
        --border-radius: 26px;
        color: #282828;
        text-transform: capitalize;
    }
}

ion-button ion-icon {
    margin-right: 6px;
}

ion-col.media-slide {
    padding: 0 0 0 15px;
}

.action-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    ion-button {
        width: calc(50% - 8px);
        height: 50px;
        border-radius: 16px;
        --border-radius: 16px;
        --box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0;
        }
}

ion-button.signin {
    --background: #AF0600;
}

ion-button.signup {
    --background: #fff;
    color: #282828;
}


ion-toggle {
    padding: 10px 0;
    zoom: 0.7;
    width: 51px;
    --background: #ccc;
    --background-checked: #00b919;
    --handle-background: #ffffff;
    --handle-background-checked: #fff;
}
div#map{
    height: 200px;
    width: 200px;
}
.map_data{
    display: none;
}
.newclass{
    -webkit-user-select: text;
}

