

ion-row.post-list {
    padding: 0px;
}

ion-list {
    background: transparent !important;
    padding: 15px;
    ion-item {
        --min-height: 44px;
        --padding-start: 5px;
        --inner-padding-end: 10px;
        --inner-border-width: 0;
        --border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 25px rgba(237, 237, 237, 0.2);
        --padding-top: 2px;
        --padding-bottom: 2px;
        --background: #fff;
        ion-thumbnail {
            margin-right: 10px;
            --border-radius: 6px;
            width: 60px;
            height: 60px;
        }
        h3 {
            text-transform: capitalize;
        }
        p {
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}