

ion-row.category-list ion-col {
    padding: 2px;
    section {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }
}

.action-btn {
    display: flex;
    width: 100%;
    padding: 15px;
    ion-button {
        width: 100%;
        height: 54px;
        border-radius: 20px;
        --border-radius: 20px;
        --box-shadow: 0px 0px 6px rgb(218 218 218 / 20%);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

ion-grid {
    padding: 20px 2px;
}