<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>my gallery</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid >
    <ion-row class="category-list"> 
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/slide-1.png"></ion-img>        
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/slide-1.png"></ion-img>        
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/slide-1.png"></ion-img>        
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/slide-1.png"></ion-img>        
        </section> 
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  <ion-footer>
      <div class="action-btn">
        <ion-button type="submit" class="signin">Upload Image</ion-button>
        </div>
  </ion-footer>
  