ion-header {
    position: absolute;
    z-index: 0;
}

ion-content {
    --padding-bottom: 0px;
}

.slide-content {
    position: absolute;
    bottom: 0;
    /* background: #fff; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0px 20px 20px 20px;
    min-height: 365px;
}

ion-slide {
    display: flex;
    max-height: 100vh;
}

.slide-content h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    max-width: 280px;
    margin: 0 auto;
    min-height: 52px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slide-content p {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}


ion-button {
    width: 100%;
    height: 54px;
    border-radius: 16px;
    --border-radius: 16px;
    margin-bottom: 16px;
}

ion-button.signin {
    --background: #AF0600;
    border: 1px solid #af0600;
    color: #fff;
}

ion-button.signup {
    --background: #fff;
    color: #282828;
}


.action-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 120px;
    left: 0;
    width: 100%;
}


.swiper-pagination-bullet {
    background: white;
    opacity: 0.2;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 0.9;
    background: white;
  }


   // ============  Dark Theme  =================

   @media (prefers-color-scheme: dark) {
    ion-content {
        --background: #222;
    }
    ion-header {
        background: #222 !important;    
        form {
            background: #000;
        }
    }

    ion-button.signup {
        --background: #000;
    }
}