<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides #slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="assets/images/welcome-1.jpg"/>
        <div class="slide-content">
        <h2>Explore Everything</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        <div class="action-btn">
          <ion-button class="signin" (click)="slides.slideNext()">Next</ion-button>
          </div>
      </div>
    </div> 
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets/images/welcome-2.jpg"/>
        <div class="slide-content">
        <h2>Explore, Rate, React, and Subscribe on Rueblur</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        <div class="action-btn">
          <ion-button class="signin" (click)="slides.slideNext()">Next</ion-button>
          <ion-button  class="signup" (click)="slides.slidePrev()">Back</ion-button>
          </div>
      </div>
    </div> 
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets/images/welcome-3.jpg"/>
        <div class="slide-content">
        <h2>Connect with Friends</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        <div class="action-btn">
          <ion-button class="signin" routerLink="/signup">Get Started</ion-button>
          <ion-button  class="signup" (click)="slides.slidePrev()">Back</ion-button>
          </div>
      </div>
    </div> 
    </ion-slide>

  </ion-slides>
</ion-content>
