<ion-app>

  <ion-menu side="start" menuId="first" contentId="main" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
        <ion-title >Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu_list">
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/tabs/mywallet">
            <ion-icon slot="start" src="assets/images/home-drawer.svg"></ion-icon>           
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-label>
              <ion-text color="dark">Home</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/editprofile">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/edit.svg"></ion-icon>   
            <ion-label>
              <ion-text color="dark">Edit Profile</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/createevent">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/event.svg"></ion-icon>         
            <ion-label>
              <ion-text color="dark">Create Event</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/newsfeed">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/rss-feed-reader-logo.svg"></ion-icon>           
            <ion-label>
              <ion-text color="dark">News Feed</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/listing">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/money.svg"></ion-icon>      
            <ion-label>
              <ion-text color="dark">Money Request</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  routerLink="/contact">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/contact-book.svg"></ion-icon>      
            <ion-label>
              <ion-text color="dark">Contact</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-list>
          <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>
              <ion-text color="dark">Dark Mode</ion-text>
            </ion-label>
            <ion-toggle id="themeToggle" slot="end" (ionChange)="onClick($event)"></ion-toggle>
          </ion-item>
        </ion-list>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  (click)="logout()">
            <!-- <ion-icon slot="start" name="home"></ion-icon> -->
            <ion-icon slot="start" src="assets/images/logout.svg"></ion-icon>          
            <ion-label>
              <ion-text color="dark">Logout</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>