ion-content {
  --background: var(--ion-color-tertiary);
}

ion-item {
    color: #000!important;
    --padding-start: 15px;
    --inner-padding-end: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    margin: 1px 0 0 0;
    ion-icon {
        margin: 0 10px 0 0;
        color:var(--ion-color-dark)!important;
    }
}

.item-detail-icon {
    color: var(--ion-color-light)!important;    
    opacity: var(--detail-icon-opacity);
}
ion-toolbar {
    background:  var(--ion-color-primary);
    ion-title {
        color: #000;
    }
}

ion-label {
    font-family: 'SF UI Display'!important;
    font-weight: 300;
    font-size: 16px!important;
}

@media (prefers-color-scheme: dark) {
    ion-content {
        --background: #222;
    }

    ion-item {
        color: #fff!important;
        ion-icon {
            color: #fff;
        }
    }

    ion-toolbar {
        ion-title {
            color: #fff;
        }
    }
    
  }
