<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>my channel</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-icon class="light-mode" src="assets/images/rank-black.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/rank-white.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="media-banner">
          <ion-img src="assets/images/media-banner.jpg"></ion-img>
        </div>
        <div class="media-stats">
          <span class="subscriber" style="display: none;">subscribers<b>214k</b></span>
          <div class="media-thumbnail">
            <div class="thumbnail">
              <ion-thumbnail>
                <ion-img src="assets/images/jimmy.jpg"></ion-img>
              </ion-thumbnail>
              <span class="play-media"><ion-icon name="play-circle"></ion-icon></span>
              <span class="media-count">4</span>
            </div>
            <b><ion-text color="dark">10.9m</ion-text></b>
          </div>
          <span class="following" style="display: none;">following<b>5k</b></span>
        </div>
        <div class="subscriber">
          <ion-button><ion-img src="assets/images/play.png"></ion-img>subscribe</ion-button>
          <span class="verified h-text"><ion-text color="dark">the bike shop</ion-text><ion-icon name="checkmark-circle"></ion-icon></span>
          <ion-img slot="start" src="assets/images/logo-icon-red.svg"></ion-img>
        </div>
  
        <div class="about">
          <h3 class="h-text"><ion-text color="dark">about</ion-text></h3>
          <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</ion-text></p>
        </div>
  
        <div class="trophy">
          <span><ion-icon src="assets/images/trophy-profile.svg"></ion-icon><ion-text color="dark">trophies</ion-text></span>
          <span><ion-icon src="assets/images/reaction-1.svg"></ion-icon><ion-text color="dark">ruemoji count</ion-text></span>
          <span><ion-icon name="chatbubble"></ion-icon><ion-text color="dark">message</ion-text></span>
        </div>
  
        <div class="action-btn">
          <ion-button><ion-img src="assets/images/play.png"></ion-img> subcribers</ion-button>
          <ion-button> <ion-icon slot="start" src="assets/images/logo-icon-white.svg"></ion-icon>rate</ion-button>
          <ion-button><ion-icon name="share-social"></ion-icon>share</ion-button>
        </div>
  
  
  
  
  
 
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  