
.media-banner {
    border-radius: 0px 0px 38px 38px;
    overflow: hidden;
}

.media-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

span.subscriber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #787878;
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 15px;
    padding: 0;
}

.media-thumbnail {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    position: relative;
    ion-thumbnail {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        overflow: hidden;
    }
}

span.play-media {
    background: #fed700;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: -6px;
}

span.media-count {
    width: 26px;
    height: 26px;
    background: url(/assets/images/notification-profile.svg);
    position: absolute;
    bottom: 20px;
    right: -6px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-thumbnail b {
    font-size: 20px;
    margin-top: 8px;
}

span.following {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #787878;
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 15px;
}

span.following b {
    font-size: 18px;
    color: #af0600;
    padding-top: 2px;
}

.subscriber {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 15px;
    text-transform: capitalize;
}

.subscriber ion-button {
    --background: #af0600;
    --border-radius: 30px;
    height: 30px;
    font-size: 12px;
    margin: 0;
    width: auto;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 30px;
    border: 1px solid #af0600;
}

span.verified {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #282828;
    margin-left: 30px;
    margin-right: 30px;
}

span.verified ion-icon {
    color: #1896ff;
    margin-left: 5px;
    font-size: 24px;
}

.subscriber ion-img {
    width: 20px;
    margin-right: 5px;
}

.about {
    padding: 15px 15px 5px;
    h3 {
        color: #000;
        text-transform: capitalize;
        font-size: 18px;
        margin: 0;
    }
    p{
        color: #929292;
        font-size: 14px;
        line-height: 21px;
        margin: 10px 0;
    }
}

.trophy {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    span {
        background: var(--ion-color-light);
        --background: var(--ion-color-light)!important;
        --border-radius: 30px;
        width: calc(33.3% - 6px);
        font-size: 10px;
        text-transform: capitalize;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        ion-icon {
            font-size: 16px;
            margin-right: 5px;
        }
    }
}

.action-btn {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    ion-button {
        --background: #af0600;
        --border-radius: 30px;
        width: calc(33.3% - 6px);
        font-size: 12px;
        text-transform: capitalize;
        height: 40px;
        color: #ffffff;
        text-transform: capitalize;
        border-radius: 30px;
        border: 1px solid #af0600;
        ion-img {
            width: 25px;
            margin-right: 5px;
        }
    }
}