<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="login-area">
          <ion-img src="assets/images/app-logo.svg"></ion-img>
        </div>
        <b class="title">forgot password</b>
        <div class="parameter">
  
          <form [formGroup]="forgotForm" (submit)="resetPassword()">
          <div class="parameter-field bg-white">
            <span>
              <ion-icon class="light-mode" src="assets/images/user.svg"></ion-icon>
              <ion-icon class="dark-mode" src="assets/images/user_white.svg"></ion-icon>
            </span>
            <ion-input type="email" formControlName="email" placeholder="Email" class="bg-white"></ion-input>  
          </div>      
          <ng-container *ngFor="let validation of validation_messages.userEmail">
            <div class="errp" *ngIf="forgotForm.get('email').hasError(validation.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
              <ion-text color="dark"><ion-icon class="erricon" name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span></ion-text>
            </div>
          </ng-container>    
          <div class="take-action">
            <ion-button type="submit" class="active" [disabled]="!forgotForm.valid">retrive password</ion-button>        
            </div>
            </form> 
            <p><ion-text color="dark">Already have an account ?</ion-text><a routerLink="/login">Sign In</a> </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  