<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>rank</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid >
    <ion-row class="category-list" routerLink="/subscribe"> 
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/bub.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/trending-icon.svg"></ion-icon></b>
            <h6 class="w-text">trending</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/jimmy.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/top-icon.svg"></ion-icon></b>
            <h6 class="w-text">Top @s</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/loc.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/location-icon.svg"></ion-icon></b>
            <h6 class="w-text">top locations</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/saved-post-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/saved-post-icon.svg"></ion-icon></b>
            <h6 class="w-text">top saved posts</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/top-trophie-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/top-trophie-icon.svg"></ion-icon></b>
            <h6 class="w-text">top trophies</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/shared-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/shared-icon.svg"></ion-icon></b>
            <h6 class="w-text">top shared</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/shared-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/featured-icon.svg"></ion-icon></b>
            <h6 class="w-text">rueblur featured</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/shared-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/higest-ranked-post-icon.svg"></ion-icon></b>
            <h6 class="w-text">higest ranked user</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/newest-channel-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/newest-channel-iccon.svg"></ion-icon></b>
            <h6 class="w-text">newest channel</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/popular-channel-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/popular-channel-icon.svg"></ion-icon></b>
            <h6 class="w-text">most popular channel</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/post-by-category-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/post-by-category-icon.svg"></ion-icon></b>
            <h6 class="w-text">top post by category</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/higest-ranked-post-bg.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/higest-ranked-post-icon.svg"></ion-icon></b>
            <h6 class="w-text">higest rank post</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/mod.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/ruescore-icon.svg"></ion-icon></b>
            <h6 class="w-text">top ruescore</h6>
          </span>
        </section> 
      </ion-col>
      <ion-col size="6">
        <section>
          <ion-img src="assets/images/loc.png"></ion-img>
          <span>
            <b><ion-icon src="assets/images/higest-ranked-post-icon.svg"></ion-icon></b>
            <h6 class="w-text">top stories</h6>
          </span>
        </section> 
      </ion-col>
    </ion-row>
  
  </ion-grid>
  </ion-content>
  
