ion-row.category-list {
    padding: 5px;
    ion-col {
        padding: 3px;
    }
    section {
        position: relative;
        ion-img {
            border-radius: 22px;
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;
        }
        span {
            position: absolute;
            top: 20%;
            left: 6%;
            b {
                width: 42px;
                height: 42px;
                background: #fff;
                display: flex;
                border-radius: 40px;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
            }
            h6 {
                margin: 10px 0 0 0;
                color: #fff;
                font-weight: 700;
                text-transform: capitalize;
                font-size: 15px;
                max-width: 130px;
            }
        }
    }
}

