<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>channel list</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="channel-list">  
          <ion-list>
            <ion-item>
             <section class="c-list">
               <ion-img src="assets/images/user-img.jpg"></ion-img>     
               <span>98</span>        
             </section>
              <ion-label>
                <h2><ion-text color="dark">Channel Name</ion-text></h2>
                <h3><ion-text color="dark">travel, company</ion-text></h3>
                <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</ion-text></p>
              </ion-label>
            </ion-item>
            <div class="action-button">
              <ion-button class="unsubscribe" color="light">Unsubscribe</ion-button>
              <ion-button color="light">Post</ion-button>
              <ion-button color="light">Share</ion-button>
            </div>          
          </ion-list>

          <ion-list>
            <ion-item>
             <section class="c-list">
               <ion-img src="assets/images/user-img.jpg"></ion-img>     
               <span>98</span>        
             </section>
              <ion-label>
                <h2><ion-text color="dark">Channel Name</ion-text></h2>
                <h3><ion-text color="dark">travel, company</ion-text></h3>
                <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</ion-text></p>
              </ion-label>
            </ion-item>
            <div class="action-button">
              <ion-button class="unsubscribe" color="light">Unsubscribe</ion-button>
              <ion-button color="light">Post</ion-button>
              <ion-button color="light">Share</ion-button>
            </div>          
          </ion-list>

          <ion-list>
            <ion-item>
             <section class="c-list">
               <ion-img src="assets/images/user-img.jpg"></ion-img>     
               <span>98</span>        
             </section>
              <ion-label>
                <h2><ion-text color="dark">Channel Name</ion-text></h2>
                <h3><ion-text color="dark">travel, company</ion-text></h3>
                <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</ion-text></p>
              </ion-label>
            </ion-item>
            <div class="action-button">
              <ion-button class="unsubscribe" color="light">Unsubscribe</ion-button>
              <ion-button color="light">Post</ion-button>
              <ion-button color="light">Share</ion-button>
            </div>          
          </ion-list>

          <ion-list>
            <ion-item>
             <section class="c-list">
               <ion-img src="assets/images/user-img.jpg"></ion-img>     
               <span>98</span>        
             </section>
              <ion-label>
                <h2><ion-text color="dark">Channel Name</ion-text></h2>
                <h3><ion-text color="dark">travel, company</ion-text></h3>
                <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</ion-text></p>
              </ion-label>
            </ion-item>
            <div class="action-button">
              <ion-button class="unsubscribe" color="light">Unsubscribe</ion-button>
              <ion-button color="light">Post</ion-button>
              <ion-button color="light">Share</ion-button>
            </div>          
          </ion-list>

          <ion-list>
            <ion-item>
             <section class="c-list">
               <ion-img src="assets/images/user-img.jpg"></ion-img>     
               <span>98</span>        
             </section>
              <ion-label>
                <h2><ion-text color="dark">Channel Name</ion-text></h2>
                <h3><ion-text color="dark">travel, company</ion-text></h3>
                <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</ion-text></p>
              </ion-label>
            </ion-item>
            <div class="action-button">
              <ion-button class="unsubscribe" color="light">Unsubscribe</ion-button>
              <ion-button color="light">Post</ion-button>
              <ion-button color="light">Share</ion-button>
            </div>          
          </ion-list>

         
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
