


ion-col.channel-list {
    padding: 15px;
}


ion-list {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    background: transparent;
    margin-bottom: 15px;
    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --inner-border-width: 0;
        --background: transparent;
        ion-label {
            margin-right: 0;
        }
    }
    section.c-list {
        margin-right: 10px;
        position: relative;
        width: 80px;
        ion-img {
            width: 80px;
            height: 80px;
            border-radius: 60px;
            overflow: hidden;
        }
        span {
            width: 24px;
            height: 24px;
            background: url(/assets/images/notification-profile.svg);
            position: absolute;
            bottom: 0px;
            right: 0px;
            text-align: center;
            font-size: 12px;
            line-height: 30px;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9px;
        }
    }   
}

ion-list ion-item ion-label h3 {
    text-transform: uppercase;
    font-size: 11px !important;
}

.action-button {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
    justify-content: space-between;
    ion-button {
        --color: #000000;
        width: calc(33.3% - 2px);
        --border-radius: 40px;
        border-radius: 40px;
        text-transform: uppercase;
        font-size: 11px;
        --background-activated: #af0600;
        --background-focused: #af0600;
        --background-hover: #af0600;
        --color-activated: #fff;
        --color-focused: #fff;
        --color-hover: #fff;
        height: 36px!important;
        --box-shadow: none;
        margin: 0;
    }
}
