<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verifyemailnew</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding">
           <div class="login-logo verify-screen">
          <ion-img src="assets/images/logo-red.svg"></ion-img>
        </div>

        <div class="verify-content">
          <h2>Verify Email</h2>
          <p>We have sent an OTP an Your email <span>da@gmail.com</span></p>
          <ion-input maxlength="4" placeholder="Enter Otp" type="number">
            <input autocapitalize="off" autocomplete="off" autocorrect="off" maxlength="4" name="ion-input-5" placeholder="Enter Otp" type="number">
          </ion-input>
        </div>
        </ion-grid>
</ion-content>
