
ion-header + ion-content {
    --padding-top: 0px!important;
}

.login-logo {
    background: #AF0600;
    padding: 60px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-img {
        max-width: 160px;
        margin: 0 auto;
    }
}

.login-logo.verify-screen {
    background: #f4f2f3;
    padding: 100px 50px 30px;
}




.verify-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 20px;
        margin: 0;
        color: #282828;
        text-transform: uppercase;
    }
    p {
        width: 260px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        margin-top: 10px;
        color: #CBCBCB;
    }
    ion-input {
        max-width: 120px;
        text-align: center;
        border: 1px solid #af0600;
        --padding-end: 0px!important;
        font-size: 20px !important;
        letter-spacing: 2px;
        --padding-start: 0px;
        width: 100%;
        overflow: hidden;
        height: 14px;
        border-radius: 10px;
    }
}

input[type="number"] {
    width: 100%;
    padding: 15px;
    border: none;
    background: transparent;
}