<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="login-area">
          <ion-img src="assets/images/app-logo.svg"></ion-img>
        </div>
        <b class="title">sign up</b>
        <div class="parameter">
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <div class="parameter-field bg-white">
            <span>
              <ion-icon class="light-mode" src="assets/images/user.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/user_white.svg"></ion-icon>
            </span>
            <ion-input  type="email" placeholder="Email" formControlName="email"></ion-input>
          </div>
          <div class="parameter-field bg-white">
            <span>
              <ion-icon class="light-mode" src="assets/images/password.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/password_white.svg"></ion-icon>
            </span>         
            <ion-input [type]="passwordType" formControlName="password" placeholder="Password"></ion-input>
            <span class="hide-password" *ngIf="passwordVisible" (click)="showPassword('hide')">
              <ion-icon src="assets/images/hidepassword.svg"></ion-icon>
            </span>
            <span class="hide-password" *ngIf="!passwordVisible" (click)="showPassword('show')">
              <ion-icon src="assets/images/hidepassword.svg"></ion-icon>
            </span>          
          </div>
          <div class="take-action">
            <ion-button type="submit"[disabled]="!signUpForm.valid" class="active">verify email</ion-button>
            <ion-button routerLink="/login" class="bg-white">sign in</ion-button>
          </div>
        </form>
          <ion-list>
              <ion-item>
                <ion-label><ion-text color="dark">term & condition</ion-text></ion-label>
                <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
              </ion-item>
              </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  