
.login-area {
    background: #af0600;
    padding: 60px;
    border-radius: 0px 0px 40px 40px;
}

.login-area ion-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 180px;
}

.parameter {
    padding: 20px;
    .parameter-field {
        position: relative;
        background: var(--ion-color-light)!important;;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        overflow: hidden;
       
        span {           
    padding-right: 0;
    border-right: 1px solid #d0d0d0;
    display: flex;
    width: 50px;
    position: absolute;
    height: 30px;
    z-index: 3;
    align-items: center;
    justify-content: center;

            ion-icon {
                font-size: 22px;      
            }
        }
        
    }
}

span.hide-password {
    right: 0;
    border-right: none!important;
}

b.title {
    display: block;
    text-align: center;
    padding: 20px 15px 10px;
    // font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    color: #af0600;
    margin-bottom: 5px;
}

b.title:after {
content: '';
width: 30px;
height: 3px;
background: #af0600;
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
}


.take-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    ion-button {
        width: calc(50% - 8px);
        margin: 0;
    }
}



ion-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --inner-border-width: 0;
        --background: transparent;
        ion-checkbox {
            margin-right: 10px;
            --border-color: #af0600;
        }
        ion-label {
            font-size: 14px!important;
            text-transform: capitalize;
        }
    }   
  
}


ion-input {
    --padding-start: 60px;
    --padding-end: 15px;
    --placeholder-color: #000;
    color: #000;
}

ion-button.active {
    --background: #af0600;
    color: #fff;
    border: 1px solid #af0600;
}


@media only screen and (max-width: 380px) {
    .login-area {
        padding: 50px;
    }
    .login-area ion-img {
        max-width: 170px;
    }
}

@media only screen and (max-width: 340px) {
    .login-area {
        padding: 30px;
    }
    .login-area ion-img {
        max-width: 140px;
    }
  }


    // =============  Dark Theme  =================

    // @media (prefers-color-scheme: dark) {
        ion-input {
            --placeholder-color: #fff;
            color: #fff;
        }
    // }