


form {
    position: relative;
    padding: 10px 15px 20px;
    background: #fff;
    border-radius: 0px 0px 30px 30px!important;
    display: block;
    ion-input {
        background: #fff !important;
        height: 44px;
        border-radius: 40px;
        --padding-end: 60px!important;
        --padding-start: 20px;
        box-shadow: 0px 0px 10px rgb(130 130 130 / 20%);
    }
    ion-button {
        position: absolute;
        top: 14px;
        right: 19px;
        z-index: 11;
        margin: 0;
        --border-radius: 0 30px 30px 0;
        height: 36px;
        --background: #af0600;
        --padding-start: 8px;
        --padding-end: 12px;
    }
    h2 {
        text-align: center;
        color: #f9d300;
        margin-bottom: 0;
        text-transform: capitalize;
        margin-top: 0px;
        span {
            display: block;
            font-size: 14px;
            text-transform: capitalize;
            color: #fed700;
            margin-top: 5px;
            font-weight: 300;
        }
    }
}


ion-col.subscribe {
    padding: 15px 4px 12px 4px;
    ion-button {
        --background: #fff;
        color: #282828;
        width: 100%;
        height: 54px;
        --border-radius: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
}




.subscriber-box {
    background: #fff;
    padding: 15px 5px;
    border-radius: 16px;
    h5 {
        font-size: 14px;
        display: block;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        ion-img {
            width: 70px;
            height: 70px;
        }
    }
}

ion-col.subscribers {
    padding: 5px;
}



.action-btn {
    ion-button {
        font-size: 10px;
        text-transform: capitalize;
        width: 100%;
        height: 30px;
        --border-radius: 10px;
        --background: #af0600;
        margin: 0 0 5px 0;
        color: #000;
    }
}






span.notification {
    width: 20px;
    height: 20px;
    background: url(/assets/images/notification-profile.svg);
    position: absolute;
    bottom: 6px;
    right: 0px;
    text-align: center;
    font-size: 8px!important;
    line-height: 20px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

span.video-notification {
    width: 20px;
    height: 20px;
    background: url(/assets/images/notification-profile.svg);
    position: absolute;
    bottom: 6px;
    left: 0px;
    text-align: center;
    font-size: 8px!important;
    line-height: 20px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

ion-row.subscribers {
    padding: 0 1px;
}

ion-row.subscribers ion-col {
    padding: 3px;
}

ion-icon.logo-icon {
    font-size: 36px !important;
}

ion-icon.light-mode {
    display: block;
}

ion-icon.dark-mode {
    display: none;
}

