<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>subscriber</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="subscribe">
      <ion-button>Subscribed</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="subscribers" >
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    <ion-col size="4" >
      <div class="subscriber-box">
        <section>
          <ion-img src="assets/images/profile-pic.png"></ion-img>
          <span class="video-notification">3</span>
          <span class="notification">4</span>         
        </section>
        <h5>Kacie</h5>
        <div class="action-btn">
          <ion-button>1.2 million</ion-button>
          <ion-button>12 m Subscribers</ion-button>
        </div>
      </div>    
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>
