<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>profile</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding">
<!-- ========= Profile Detail ========= -->
    <ion-row class="stats-box">
      <ion-col size="12" class="user-stats bg-white">

        <section>
          <ion-thumbnail>
            <ion-img src="assets/images/jimmy.jpg"></ion-img>
          </ion-thumbnail>
          <b>4</b> </section>
        <h2><ion-text color="dark">19m</ion-text></h2>
        <h3><ion-text color="dark">latest 24</ion-text><ion-img src="assets/images/confirm.svg"></ion-img></h3>
        <p><ion-text color="medium">wertyu</ion-text></p>
        <div class="user-statics">
          <span><ion-text color="medium">followers</ion-text><b>214k</b></span>
          <span><ion-text color="medium">following</ion-text><b>315k</b></span>
          <span><ion-img src="assets/images/trophy-profile.svg"></ion-img></span>
          <span><ion-img src="assets/images/one.svg"></ion-img></span>
        </div>
      </ion-col>
    </ion-row>

<!-- ========= Tab Menu ========= -->
<ion-row class="tab-menu">
  <ion-col size="12">
    <ion-button class="active" color="light">Edit Account</ion-button>
    <ion-button color="light">Edit Profile</ion-button>
    <ion-button color="light">View Profile</ion-button>
  </ion-col>
</ion-row>

<div class="my-gallery">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="assets/images/slide-1.png">      
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/images/slide-2.png">      
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/images/slide-1.png">      
      </div>
    </ion-slide>
    </ion-slides>
  </div>
<!-- ========= Grid Menu ========= -->
  <ion-row class="grid-menu">
  <ion-col size="6" (click)="gotopost('mygallery')">
    <span class="bg-white">
      <ion-img src="assets/images/my-gallery.svg"></ion-img>
      <h3><ion-text color="dark">My Gallery</ion-text></h3>
    </span>
  </ion-col>
  <ion-col size="6" (click)="gotopost('tabs/rueblurmedia')">
    <span class="bg-white">
      <ion-img src="assets/images/my-channel.svg"></ion-img>
      <h3><ion-text color="dark">My Channel</ion-text></h3>
    </span>
  </ion-col>
  <ion-col size="6" (click)="gotopost('createchannel')">
    <span class="bg-white">
      <ion-img src="assets/images/channels.svg"></ion-img>
      <h3><ion-text color="dark">Create Channel</ion-text></h3>
    </span>
  </ion-col>
  <ion-col size="6" (click)="gotopost('savedpost')">
    <span class="bg-white">
      <ion-img src="assets/images/saved-post.svg"></ion-img>
      <h3><ion-text color="dark">Saved Post</ion-text></h3>
    </span>
  </ion-col>
  <ion-col size="6" (click)="gotopost('mypost')">
    <span class="bg-white">
      <ion-img src="assets/images/my-post.svg"></ion-img>
      <h3><ion-text color="dark">My Post</ion-text></h3>
    </span>
  </ion-col>  
  <ion-col size="6">
    <span class="bg-white">
      <ion-img src="assets/images/star.svg"></ion-img>
      <h3><ion-text color="dark">Highlights</ion-text></h3>
    </span>
  </ion-col> 
</ion-row>
  </ion-grid>
</ion-content>


