

ion-row.stats-box {
    padding: 60px 15px 5px;
    ion-col.user-stats {
        padding: 5px;
        border-radius: 16px;
        h2 {
            text-align: center;
            clear: both;
            display: block;
            margin-top: 60px;
            font-weight: bold;
            margin-bottom: 3px;
        }
        h3 {
            font-size: 16px;
            text-align: center;
            margin-top: 0;
            font-weight: 700;
            color: #282828;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-img {
                width: 16px;
                margin-left: 5px;
            }
        }
        p {
            font-size: 14px;
            max-width: 310px;
            text-align: center;
            color: #787878;
            margin: 0 auto 12px;
            font-weight: 300;
        }
        section {
            max-width: 100px;
            background: #f4f4f4;
            border-radius: 70px;
            border: 0;
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            box-shadow: 0px 5px 15px rgba(74, 74, 74, 0.24);
            ion-thumbnail {
                width: 100px;
                height: 100px;
                border-radius: 80px;
                overflow: hidden;
            }
            b {
                width: 26px;
                height: 26px;
                background: url(/assets/images/notification-profile.svg);
                position: absolute;
                bottom: 5px;
                right: 2px;
                text-align: center;
                font-size: 10px;
                line-height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.user-statics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-statics span:first-child {
    border-left: 0;
}

.user-statics span {
    width: 25%;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: #787878;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #c2c2c2;
    height: 48px;
}

.user-statics span b {
    font-size: 20px;
    font-weight: normal;
    color: #af0600;
}
.user-statics span ion-img {
    width: 32px;
}

ion-row.tab-menu ion-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    ion-button {
        width: calc(33.3% - 6px);
        background: var(--ion-color-light);
        font-size: 12px;
        border-radius: 10px;
        float: left;
        text-align: center;
        --background: #fff;
        --background-focused: #FF002B;
        --background-hover: #FF002B;
        --background-activated: #FF002B;
        --color-activated: #fff;
        --color-focused: #fff;
        --color-hover: #fff;
        height: 36px;
        letter-spacing: 0;
        --border-radius: 10px;
        text-transform: capitalize;
        margin-bottom: 0;
    }
}

.my-gallery {
    width: calc(100% - 22px);
    margin: 0 auto;
    ion-slide {
        padding: 5px 5px 25px 4px;
    }
}


ion-row.grid-menu {
    padding: 0px 11px;
    margin-bottom: 70px;
    ion-col {
        padding: 0px 4px 8px 4px;
        span {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            padding: 10px 15px 5px 15px;
            ion-img {
                width: 50px;
                height: 50px;
                padding: 12px;
                background: #af0600;
                border-radius: 50px;
                box-shadow: 0px 6px 10px rgba(175, 6, 0, 0.12);
            }
            h3 {
                font-size: 15px;
                color: #282828;
            }
        }
    }
}