<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>createpost</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="channel-parameter">
        <ion-input type="text" placeholder="Caption here" clearInput></ion-input>

        <input type="file" multiple style="display:none;"/>
        <span class="act-btn">
          <ion-button (click)="selectImage()">
            <ion-icon class="light-mode" src="assets/images/add-media.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/add-media-white.svg"></ion-icon>
            Add media </ion-button>
         
          <ion-button (click)="openMap()" >
            <ion-icon class="light-mode" src="assets/images/tag-location.svg"></ion-icon>
            <ion-icon class="dark-mode" src="assets/images/location-icon-white.svg"></ion-icon>
            Tag Location</ion-button>

        </span> 
      </ion-col>
      <ion-col size="12" class="media-slide" >
        <ion-label class="h-text">Media</ion-label> 
        <ul class="media">
          <li><ion-img src="assets/images/profile-pic.png"></ion-img></li>
        </ul>
      </ion-col>
        <ion-col size="12" class="channel-parameter">

        <ion-list class="list_toggle">
          <ion-item>
            <ion-label class="h-text">Allow Comment</ion-label>
            <ion-toggle slot="end" checked ></ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-label class="h-text">Allow Rating</ion-label>
            <ion-toggle slot="end" checked ></ion-toggle>
          </ion-item>
          </ion-list>

        <ion-label class="h-text">Only Share With</ion-label>
        <ion-radio-group >      
          <ion-item>
            <ion-label class="h-text">Friends</ion-label>
            <ion-radio slot="start" color="primary"  value="friends" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label class="h-text">Public</ion-label>
            <ion-radio slot="start" color="secondary" value="public" ></ion-radio>
          </ion-item>         
        </ion-radio-group>  
        <ion-label class="h-text">Category</ion-label>   
        
        <ion-select placeholder="Category Name">
          <ion-select-option value="nes">NES</ion-select-option>
          <ion-select-option value="n64">Nintendo64</ion-select-option>
          <ion-select-option value="ps">PlayStation</ion-select-option>
          <ion-select-option value="genesis">Sega Genesis</ion-select-option>
          <ion-select-option value="saturn">Sega Saturn</ion-select-option>
          <ion-select-option value="snes">SNES</ion-select-option>
        </ion-select>
      
        <div class="action-btn">
          <ion-button class="signin">Add to story</ion-button>
          <ion-button  class="signup">Post</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>