<ion-header >
  <ion-toolbar>
    <ion-img class="logo-icon" src="assets/images/fill-logo.svg"></ion-img>
    <ion-title text-left>messages</ion-title>
    <ion-icon class="light-mode" src="assets/images/search-lightmode.svg" slot="end"></ion-icon>
    <ion-icon class="dark-mode" src="assets/images/search-darkmode.svg" slot="end"></ion-icon>
    <ion-img class="header-profile" src="assets/images/profile-pic.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="new-notification-list">
    <ion-list-header><ion-text color="dark">new</ion-text></ion-list-header>    
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="medium">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="dark">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="medium">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="dark">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="medium">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="dark">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="medium">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/profile-pic.png">
      </ion-thumbnail>
      <ion-label>
        <h3><ion-text color="dark">john doe</ion-text><small><ion-text color="dark">9:30 am</ion-text></small></h3>
        <p><ion-text color="medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-text></p>
      </ion-label>
    </ion-item> 
    </ion-list>
</ion-content>
