<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="login-area">
          <ion-img src="assets/images/app-logo.svg"></ion-img>
        </div>
        <b class="title">verify email</b>
        <p class="message"><ion-text color="dark">We have sent an OTP an Your email <span>{{userEmailId}}</span></ion-text></p>
        <ion-input maxlength="4" type="tel" class="otpInput" placeholder="Enter" autocomplete="off" autocorrect="off" (ionInput)="verifyOtp($event.target.value)"></ion-input>
     
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  